*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Metadata #
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nip
local.properties
.settings/
.loadpath

# Eclipse Core #
.project

# External Tool Builders #
.externalToolBulders/

# Locally Sotred "Eclipse Launch Configurations #
*.launch

# Eclipse JAVA Development Tools #
.classpath

# Java annotation Processor (APT) #
.factorypath

